# ---------------------- Day 38 - Workout Tracker ---------------------- #
# NUTRITIONIX
NUTRITIONIX_APP_ID=your_app_id_here
NUTRITIONIX_API_KEY=your_api_key_here
# Sheety
SHEETY_TOKEN=your_sheety_token_here


# ------------------------ Day 39 - Flight Deals ------------------------ #
# Sheety
SHEETY_TOKEN=your_sheety_token

# SerpApi
SERPAPI_KEY=your_serpapi_key

# Twilio SMS
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=+10000000000
TWILIO_VERIFIED_NUMBER=+10000000000

# ------------------------ Day 40 - ???? ------------------------ #